<% provide(:title, 'Edição') %>

<h1>Crie uma nova Edição</h1>

<%= render 'form' %>

</br>

<div class="row">
   	<div class="col-md-3">
		<%= link_to 'Voltar', journal_editions_path,  :class => 'btn btn-default btn-sm' %>
	</div>
</div>