<% provide(:title, 'Artigos') %>

<h1>Criar um novo artigo</h1>

<%= render 'form' %>

</br></br>

<div class="row">
  <div class="col-md-3">
	<%= link_to 'Voltar', edition_articles_path(@edition),  :class => 'btn btn-default btn-sm' %>
  </div>
</div>

