<% provide(:title, 'Contatos') %>

<h2 class="hidden-small">Nossos Contatos</h2>


<br/><br/>
<p class="text-justify">
<strong>Discente</strong>: Flavio Ribeiro Córdula<br/>
<strong>Email</strong>: flavi0c0rdula@gmail.com<br/><br/>
<strong>Orientador</strong>: Prof. Dr. Wagner Junqueira de Araújo<br/>
<strong>Email</strong>: wagnerjunqueira.araujo@gmail.com 
</p>
