<% provide(:title, 'Dicas de Pesquisa') %>

<h2 >Dicas de Pesquisa - Leia com atenção!</h2>

<br/>

<div class="row">
	<div class="col-md-12">
		<ul>
			<li class="text-justify">
				A busca NÃO diferencia letras maiúsculas de minúsculas. Isso que dizer que buscar pelo termo “informação” é a mesma coisa de buscar por “INFORMAÇÃO” ou “Informação”.
			</li>	
			<li class="text-justify">
				A busca DIFERENCIA palavras com e sem acentos gráficos. Isso que dizer que buscar pelo termo “recuperação” é diferente de buscar por “recuperaçao” ou “recuperacao”.
			</li>
			<li class="text-justify">
				Para melhorar a relevância das pesquisas, o sistema não busca por termos aproximados ou incompletos. Isso que dizer que se você buscar por “info”, o termo “informação” não será retornado.
			</li>   
			<li class="text-justify">
				NÃO há a necessidade de colocar termos compostos entre aspas.
			</li>
		</ul>
	</div>
</div>


		
