<% provide(:title, 'Sobre o Projeto') %>

<h2 class="hidden-small">Sobre o Projeto</h2>

<p class="text-justify">
<strong>Título do Projeto</strong>: Análise de Aceitação do Software Livre para Criação e Gestão de Bases de Dados Referenciais de Artigos Científicos – BADRAC<br/>
<strong>Discente</strong>: Flavio Ribeiro Córdula<br/>
<strong>Orientador</strong>: Prof. Dr. Wagner Junqueira de Araújo
</p>
<br/><br/>
<p class="text-justify">Este projeto é fruto do mestrado em Ciência da Informação da Universidade Federal da Paraíba e tem como objetivo principal avaliar por meio do Technology Acceptance Model a aceitação do software livre BADRAC.</p>
 
<p class="text-justify">A Base de Dados Referencial de Artigos Científicos (BADRAC), objeto de estudo desta dissertação, é um software livre que foca na recuperação de artigos científicos digitais por meio da disponibilização de links , a depender do termo de busca a ser pesquisado, que remetem o usuário à outra fonte, externa, que contém os arquivos digitais disponíveis para download.</p>

<p class="text-justify">A BADRAC se caracteriza como software livre pois qualquer pessoa é livre para ler e estudar o código fonte, executar, modificar, usar e distribuir o software sem que para isso tenha que possuir algum tipo de permissão específica ou arcar com algum custo financeiro. Por intermédio do serviço GitHub dessa pesquisa – https://github.com/BADRAC/ProjetoMestrado – qualquer interessado pode fazer uso do código desse sistema e construir sua própria base de dados referencial de artigos científicos.</p>

<p class="text-justify">Portanto, em acréscimo a funcionalidade proporcionada pelas principais bases de dados referenciais disponíveis (Portal CAPES, BRAPCI, CIELO, etc.), em que os usuários usufruem dos serviços de busca de artigos previamente cadastrados, a BADRAC proporciona a estudantes, professores e pesquisadores a possibilidade de criação de suas próprias bases de dados, auxiliando na disseminação da informação científica. Não houve, até aqui, dentro do meio acadêmico, a divulgação de uma ferramenta de software livre que permitisse aos profissionais dessa área a criação de suas próprias bases de dados referenciais. Resta saber se essa ausência se deve a não aceitação ou à mera falta de oportunidade de conhecer e trabalhar com um software desse tipo no referido meio.</p>  

<p class="text-justify">A partir da utilização da BADRAC, grupos de pesquisa podem criar bases de dados que referenciem apenas artigos de uma linha ou assunto específico ou, analogamente, um programa de pós-graduação, independentemente da sua área de atuação, pode subsidiar estudos e propostas ao referenciar a produção de artigos daquela área em particular. Ou seja, sendo um software livre, a BADRAC pode ser manipulada tanto por uma universidade/faculdade quanto por um docente ou discente; é livre para que qualquer um que tenha interesse em criar uma base de dados referencial personalizada às suas necessidades usufrua de seus benefícios.</p>
