<% provide(:title, 'Peri贸dico') %>

<h1>Lista de Peri贸dicos Cadastrados</h1>

<table class="table table-striped table-bordered table-condensed" style="width: 100%">
  <thead>
    <tr>
      <th class="text-center">Peri贸dicos</th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= link_to journal.j_name, journal_editions_path(journal.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-3">
    <%= link_to 'Criar um novo Peri贸dico', new_journal_path, :class => 'btn btn-primary btn-sm btn-block'%>
  </div>
</div>
</br>

<%
=begin
%>

<p>
  Download:
  <%= link_to "CSV", journals_path(format: "csv") %> |
  <%= link_to "Excel", journals_path(format: "xls") %>
</p>

<%
=end
%>