<% provide(:title, 'Tutorial de Cadastro') %>

<h2 >Tutorial de Cadastro - Leia com atenção!</h2>

<br/>

<div class="row">
	<div class="col-md-12">
		<ul>
			<li>
				<strong>Início</strong>
				<ul>
					<li class="text-justify">
						Para entrar no menu administrativo do sistema, clique [Administrativo].
					</li>	
					<li class="text-justify">
						Digite seu e-mail e senha cadastrados e clique em [Entrar]. Apenas usuários cadastrados possuem acesso a esse menu.
					</li>
					<li class="text-justify">
						Se o login e a senha estiverem corretos, o sistema irá redirecionar o usuário para a página de “Perfil do Usuário”.
					</li>   
					<li class="text-justify">
						Agora clique em [Administrativo] e depois [Cadastro]. O usuário será, então, redirecionado para a página de “Lista de Periódicos Cadastrados”.
					</li>
					<li class="text-justify">
						A página “Lista de Periódicos Cadastrados” exibe uma lista dos periódicos já cadastrados e permite, por meio do botão [Criar um novo Periódico], a criação de novos periódicos.
					</li>
					<li class="text-justify">
						Aqui começa o cadastro!
					</li>
				</ul>
			</li>
		</ul>	
		<br/>

		<ul>
			<li>
				<strong>Periódicos</strong>
				<ul>
					<li class="text-justify">
						Caso você queira cadastrar referências de artigos de um periódico que já esteja cadastrado, é só entrar clicando no nome do periódico.
					</li>	
					<li class="text-justify">
						Não cadastre o mesmo periódico duas ou mais vezes.
					</li>
					<li class="text-justify">
						Caso você queira cadastrar referências de artigos de um periódico que não esteja cadastrado, ou seja, que não está presente na “Lista de Periódicos Cadastrados”, é só criar o periódico por meio do botão [Criar um novo Periódico].
					</li>   
				</ul>
			</li>
		</ul>	
		<br/>

		<ul>
			<li>
				<strong>Edições</strong>
				<ul>
					<li class="text-justify">
						Depois de cadastrado o periódico, você ainda precisa cadastrar as edições.
					</li>	
					<li class="text-justify">
						Um periódico pode ter várias edições (com nomes diferentes).
					</li>
					<li class="text-justify">
						Caso você queira cadastrar referências de artigos em uma edição que já esteja cadastrada, é só clicar no nome da edição.
					</li>
					<li class="text-justify">
						Caso você queira cadastrar referências de artigos em uma edição que não esteja cadastrada, é só criar uma edição por meio do botão [Criar uma nova Edição].
					</li>
				</ul>
			</li>
		</ul>	
		<br/>

		<ul>
			<li>
				<strong>Artigos, autores e palavras-chave</strong>
				<ul>
					<li class="text-justify">
						Depois de cadastrado um periódico e suas edições, você pode cadastrar os artigos.
					</li>	
					<li class="text-justify">
						É só criar um artigo por meio do botão [Criar um novo Artigo].
					</li>
					<li class="text-justify">
						Para cadastrar os autores e palavras-chave, é só clicar no nome do artigo e depois, nos botões [Criar um novo Autor] e [Criar uma nova Palavra-chave].
					</li>
					<li class="text-justify">
						Cada artigo deve ser cadastrado em sua respectiva edição.
					</li>
					<li class="text-justify">
						Uma edição pode conter vários artigos.
					</li>
					<li class="text-justify">
						Um artigo pode conter vários autores e palavras-chave.
					</li>
				</ul>
			</li>
		</ul>

	</div>
</div>



