<footer class="footer">
  <small>
    <!--#<a href="endereço lattes">Flavio Córdula</a>-->
    Base de Dados Referencial - Projeto de Mestrado PPGCI - UFPB | Copyright © 2013-2015 | v1.3.7
  </small>


  <nav>
    <ul>
      <li><%= link_to "Sobre este Projeto", '/sobre' %></li>
      <li><%= link_to "Contatos", '/contato' %></li>
    </ul>
  </nav>
</footer>

